.custom-container{
    position:relative;
}

.loader-container{
    position:absolute;
    z-index:100;
    background:rgba(255, 255, 255, 0.692);
    width:83%;
    height:80%;
    display:flex;
    justify-content:center;
}

.loader{
    transform:translateY(120px);
    
}